<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="prototype" class="com.stundent.spring.dependency.injection.lookup.method.Prototype" scope="prototype" />

	<bean id="singleton" class="com.stundent.spring.dependency.injection.lookup.method.Singleton" >
		<lookup-method name="createPrototype" bean="prototype" />
	</bean>

</beans>